---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <h1>Uplevl - AI Social Media Manager</h1>
  <p>Uplevl is an AI social media manager that helps you manage your social media accounts.</p>
</Layout>