@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(97.5% 0 0);
  --foreground: oklch(26.9% 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(26.9% 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(26.9% 0 0);
  --primary-darker: oklch(0.5 0.189 84.429);
  --primary-dark: oklch(0.62 0.189 84.429);
  --primary: oklch(82.8% 0.189 84.429); /* #ffba00 */
  --primary-light: oklch(0.91 0.1653 84.429);
  --primary-lighter: oklch(0.99 0.0337 84.429);
  --primary-foreground: oklch(26.9% 0 0);
  --secondary: oklch(51.1% 0.262 276.966);
  --secondary-dark: oklch(0.35 0.262 276.966);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.5rem;
  --sidebar: white;
  --sidebar-foreground: oklch(26.9% 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-darker: var(--primary-darker);
  --color-primary-dark: var(--primary-dark);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-lighter: var(--primary-lighter);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-dark: var(--secondary-dark);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --shadow-sm: 0 1px 3px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.08));
  --shadow-lg:
    0px 4px 4px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.08)),
    0px 6px 7px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.08)),
    0px 8px 30px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.08)),
    0px 10px 24px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.08));
  --shadow-mobile-nav:
    0px 29px 30px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.08)),
    0px 16px 24px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.08));
  --shadow-showcase:
    0 10px 32px rgb(34 42 53 / 0.12), 0 1px 1px rgb(0 0 0 / 0.05), 0 0 0 1px rgb(34 42 53 / 0.05),
    0 4px 6px rgb(34 42 53 / 0.08), 0 24px 108px rgb(47 48 55 / 0.1);

  --shadow-card: 0 2px 4px rgb(0 0 0 / 0.09), 0 6px 16px rgb(0 0 0 / 0.1), 0 8px 32px rgb(0 0 0 / 0.07);

  --animate-pulse-1: pulse1 4s ease-in-out alternate infinite;
  --animate-pulse-2: pulse2 4s ease-in-out alternate infinite;
  --animate-pulse-3: pulse3 4s ease-in-out alternate infinite;

  --animate-shimmer: shimmer 1.25s linear infinite reverse;

  @keyframes pulse1 {
    0% {
      border-color: var(--color-neutral-200);
      transform: scale(1);
    }
    50% {
      border-color: var(--color-primary-light);
      transform: scale(1.5);
    }
    100% {
      border-color: var(--color-neutral-200);
      transform: scale(1);
    }
  }

  @keyframes pulse2 {
    0% {
      border-color: var(--color-neutral-200);
      transform: scale(1);
    }
    50% {
      border-color: var(--color-primary-light);
      transform: scale(1.35);
    }
    100% {
      border-color: var(--color-neutral-200);
      transform: scale(1);
    }
  }

  @keyframes pulse3 {
    0% {
      border-color: var(--color-neutral-200);
      transform: scale(1);
    }
    50% {
      border-color: var(--color-primary-light);
      transform: scale(1.2);
    }
    100% {
      border-color: var(--color-neutral-200);
      transform: scale(1);
    }
  }

  @keyframes shimmer {
    0% {
      background-position-x: 100%;
    }
    100% {
      height: 2px;
      background-position-x: 0%;
    }
  }
}

.bg-shimmer {
  background-size: 300%;
  background-position-x: 100%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}

@layer components {
  code {
    @apply rounded bg-neutral-200/45 px-1 py-0.25 font-mono;
  }
}
