---

---

<button class="focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive inline-flex shrink-0 items-center justify-center gap-2 rounded-lg text-sm font-medium whitespace-nowrap outline-none focus-visible:ring-[3px] enabled:cursor-pointer aria-disabled:pointer-events-none aria-disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4 from-primary to-primary-light text-primary-foreground hover:to-primary border-primary border bg-linear-to-t shadow-xs transition-colors duration-200 ease-out h-8 px-4 py-2 has-[>svg]:px-3">
  <slot />
</button>